<?php
/**
 * AuthenticateApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalAccountPortal
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Account Portal API
 *
 * Bumbal Account API documentation
 *
 * OpenAPI spec version: 1.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalAccountPortal\API;

use \BumbalAccountPortal\ApiClient;
use \BumbalAccountPortal\ApiException;
use \BumbalAccountPortal\Configuration;
use \BumbalAccountPortal\ObjectSerializer;

/**
 * AuthenticateApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalAccountPortal
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AuthenticateApi
{
    /**
     * API Client
     *
     * @var \BumbalAccountPortal\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalAccountPortal\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\BumbalAccountPortal\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalAccountPortal\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalAccountPortal\ApiClient $apiClient set the API client
     *
     * @return AuthenticateApi
     */
    public function setApiClient(\BumbalAccountPortal\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation authenticateSignIn
     *
     * Sign in and retrieve an AuthToken
     *
     * @param \BumbalAccountPortal\Model\AuthenticateModel $body Authenticate object (required)
     * @throws \BumbalAccountPortal\ApiException on non-2xx response
     * @return \BumbalAccountPortal\Model\AuthenticateResult
     */
    public function authenticateSignIn($body)
    {
        list($response) = $this->authenticateSignInWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation authenticateSignInWithHttpInfo
     *
     * Sign in and retrieve an AuthToken
     *
     * @param \BumbalAccountPortal\Model\AuthenticateModel $body Authenticate object (required)
     * @throws \BumbalAccountPortal\ApiException on non-2xx response
     * @return array of \BumbalAccountPortal\Model\AuthenticateResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function authenticateSignInWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling authenticateSignIn');
        }
        // parse inputs
        $resourcePath = "/authenticate/sign-in";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalAccountPortal\Model\AuthenticateResult',
                '/authenticate/sign-in'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalAccountPortal\Model\AuthenticateResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalAccountPortal\Model\AuthenticateResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
